@using Festiv;
@using Festiv.Controllers;
@model PartyDetails


@{
    ViewData["Title"] = "Party Details";
}

<div class="text-center">
    <h1 class="display-4">"@Model.Name at @Model.Location"</h1>

    <p>@Model.Description</p>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Start: @Model.Start</p>
            </div>
            <div class="col">
                <p>End: @Model.End</p>
            </div>
        </div>
    </div>
    <div>
        <a asp-controller="Rating" asp-action="Index">Rate Guests</a>
    </div>
    <div>
        <div>
            <a asp-controller="Party" asp-action="AddPhoto">Click Here to add Photo</a>
        </div>
        <div>
            @foreach (Photo photo in Model.Photos)
            {
                <div>
                    <img src="photo.Link" alt="photo.Name">
                </div>
            }
        </div>
    </div>

</div>