@using Festiv.Models
@model Festiv.ViewModels.GameDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Game Details";
}

<h2>@Model.GameName</h2>
<p>Minimum Players: @Model.MinPlayers</p>
<p>Maximum Players: @Model.MaxPlayers</p>

@* <h2>Current Players</h2>
<ul>
    @foreach (var player in Model.CurrentPlayers)
    {
        <li>@player.FirstName @player.LastName</li>
    }
</ul>

<h2>Teams</h2>
@foreach(var team in Model.Teams)
{
    <h3>Team</h3>
    <ul>
        @foreach (var member in team.Members)
        {
            <li>@member.FirstName @member.LastName</li>
        }
    </ul>
} *@

<h3>Let's play a game</h3>
<form asp-action = "SignUp" method = "post">
    <div class = "form-group">
        <label for = "NewPlayerName">Your Name</label>
        <input type = "text" class = "form-control" id ="NewPlayerName" name = "firstName" />
        <input type = "hidden" name = "id" value ="@Model.GameId" />
    </div>
    <div class = "form-group">
        <button type = "submit" class = "btn btn-primary">Sign up</button>
    </div>
</form>

<table class = "table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.WaitingPlayers)
        {
            <tr>
                <td>@player.FirstName</td>
            </tr>
        }
    </tbody>
</table>

<h3>Current Players and Teams</h3>
<div class = "form-group">
    <form asp-action = "RandomizeTeams" method = "post">
        <input type = "hidden" name = "id" value = "@Model.GameId" />
        <button type = "submit" name = "randomizerType" value = "split" class = "btn btn-secondary">Split into 2 teams</button>
        <button type = "submit" name = "randomizerType" value = "pairs" class = "btn btn-secondary">Group into pairs</button>
    </form>
</div>


@* <table class = "table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team/Partner</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.Teams)
        {
            @foreach (var player in team)
            {
                <tr>
                    <td>@.Name</td>
                    <td>@team.Count > 1 ? team[1 - team.IndexOf(player)].Name : "No Partner"</td>
                </tr>
            }
        }
    </tbody>
</table> *@