@using Festiv
@using Festiv.Controllers
@model PartyDetails


@{
    ViewData["Title"] = "Party Details";
    var partyId = ViewBag.PartyId;
}

<div class="text-center">
    <h1 class="display-4">"@Model.Name at @Model.Location"</h1>

    <p>@Model.Description</p>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Start: @Model.Start</p>
            </div>
            <div class="col">
                <p>End: @Model.End</p>
            </div>
        </div>
    </div>
    <a asp-controller="Rating" asp-action="Index">Rate Guests</a>
    
    <h2>Games</h2>
    <ul>
        @foreach (var game in Model.Games)
        {
            <li>
                <a asp-controller="PartyDetails" asp-action="GameDetails" asp-route-id ="@game.Id">@game.GameName</a>
            </li>
        }
    </ul>
    <div>
        <a asp-controller= "PartyDetails" asp-action="CreateGame" asp-route-partyId="@partyId">Create a new game</a>
    </div>
</div>